@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.enable-blur {
    filter: blur(20px);
    /* -webkit-filter: blur(3px); */
}

.disable-blur {
    filter: blur(0px);
    /* background-color: rgba(255, 255, 255, 0); */
    /* -webkit-filter: blur(0px); */
}

.max-width {
    max-width: 1300px;
    padding: 0 80x;
    margin: auto;
}

/* navbar styles */
.contact-btn {
    color: antiquewhite;
    padding:  9px 25px;
    background-color: rgba(255, 100, 100, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-btn:hover {
    background-color: rgb(247, 142, 142);
}

.navbar {
    position: fixed;
    width: 100%;
    padding: 17px 0;
    background: black;
    /* padding: 30px; */
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.616);
}

/* .navbar.sticky .menu li a {
    color: black;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3 ease;
}

.navbar.sticky .logo a {
    color: black;
    font-size: 35px;
    font-weight: 600;
} */

.navbar .max-width { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    color: antiquewhite;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 30px;
    transition: color 0.3 ease;
}

.navbar .menu li a:hover {
    color: crimson;
}

/* menu button styles */
.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styles */
.about-me-btn {
    padding-top: 40px;
    color: antiquewhite;
    padding:  12px 25px;
    background-color: rgba(255, 100, 100, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.home {
    display: flex;
    background: url("../images/home-page-bg.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

.home-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -1;
}

.home .home-content .text-1 {
    font-size: 55px;
}

.home .home-content .text-2 {
    font-size: 45px;
    /* font-weight: 600; */
}

.home .home-content .text-2 span.typing {
    /* font-size: 40px; */
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.home .home-content .text-2 span.typed-cursor {
    /* font-size: 40px; */
    font-weight: 500;
    color: rgba(255, 0, 43, 0.445);
}

/* media query */
@media (max-width: 947px) {
    .menu-btn {
        /* color: #fff;
        font-size: 23px;
        cursor: pointer; */
        display: block;
        z-index: 1001;
    }

    .contact-btn {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .contact-btn:hover {
        background-color: rgb(247, 142, 142);
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }
    
    .navbar {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar .menu {
        position: absolute;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;

        z-index: 1000;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1 {
        font-size: 55px;
    }
    
    .home .home-content .text-2 {
        font-size: 45px;
        /* font-weight: 600; */
        margin: 5px 0;
    }
}

@media (max-width: 690px) { 
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-1 {
        font-size: 40px;
    }
    
    .home .home-content .text-2 {
        font-size: 30px;
    }
}

@media (max-width: 500px) { 
    /* .max-width {
        padding: 0 23px;
    } */
    .navbar .logo {
        padding-right: 32.5%;
    }

    .home-content {
        padding-bottom: 100px;
    }

    .home .home-content .text-1 {
        font-size: 30px;
    }
    
    .home .home-content .text-2 {
        font-size: 20px;
    }

    .about-me-btn {
        padding-top: 40px;
        color: antiquewhite;
        padding: 9px 15px;
        background-color: rgba(255, 100, 100, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    @media (max-width: 390px) { 
        .navbar .logo {
            padding-right: 26%;
        }
    }
    @media (max-width: 290px) { 
        .navbar .logo {
            padding-right: 12.5%;
        }
    }
}

/* home img wrapper styles */
/* .home-img-wrapper ul {
    position: absolute;
    list-style-type: none;
    left: 55%;
    top: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home-img-wrapper ul li{
    padding-right: 27px;
}

.laptop-img {
    position: absolute;
    min-width: 250px;
    height: 250px;
    left: 55%;
    top: 35%;
} */


/* coming soon page styles */
.coming-soon {
    display: flex;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    /* background-size: cover;
    background-attachment: fixed; */
    font-family: 'Oswald', sans-serif;
}

/* .coming-soon .max-width {
    position: relative;
    margin: auto 0 auto 40px;
}

.cs-content {
    position: relative;
} */

.coming-soon .cs-content .text-1 {
    /* position: relative; */
    font-size: 27px;
    
}

/* 404 error styles */
.fof-error {
    display: flex;
    background-color: black;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    /* background-size: cover;
    background-attachment: fixed; */
    font-family: 'Oswald', sans-serif;
}

.fe-content {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fof-error .error-img {
    /* position: relative; */
    background-color: rgba(255, 255, 255, 0);
    filter: blur(.25px);
    width: 200;
    height: 225px;  
    align-items: center;
    filter: invert();
    -webkit-filter: invert();
}

.fof-error .error-msg {
    /* position: relative; */
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    text-align: center;  
}

/* about me styles */
.about-section {
    display: flex;
    background: url("../images/san-jose.jpg") no-repeat center;
    height: 100vh; 
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
    transition: opacity 0.5s linear;
}

.about-section .about-content {
    font-size: 35px;
}

.about-section .about-content .title {
    /* position: relative; */
    text-align: center;
    color: rgb(0, 0, 0);
}

/* about me text styles */
.about-text-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.955);
    font-family: 'Ubuntu', sans-serif;
}

.about-text-wrapper .header {
    padding-bottom: 15px;
    color: white;
    text-align: center;
}

.about-text-wrapper .header span {
    color: white;
    padding: 5px;
}

.about-text-wrapper .text {
    /* padding-top: 20px; */
    /* padding-bottom: 50px; */
    text-align: center;
    color: white;
}

/* about my education styles */
.education-section {
    background: url("../images/board.jpg") no-repeat center;
    min-height: 300px;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    background-size: cover;
    background-attachment: fixed;
}

.education-section .title {
    padding-top: 50px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.education-text-wrapper .header {
    padding-bottom: 15px;
}

.education-text-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.955);
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* my hobbies styles */
.hobbies-section {
    background: url("../images/studio-screen.jpg") no-repeat center;
    min-height: 300px;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    background-size: cover;
    background-attachment: fixed;
}

.hobbies-section .title {
    padding-top: 50px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.hobbies-text-wrapper .header {
    padding-bottom: 15px;
}

.hobbies-text-wrapper {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.955);
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

/* my goals styles */
.goals-section {
    background: url("../images/html.jpg") no-repeat center;
    min-height: 300px;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    background-size: cover;
    background-attachment: fixed;
}

.goals-section .title {
    padding-top: 90px;
    font-size: 45px;
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.goals-text-wrapper .header {
    padding-bottom: 15px;
    z-index: -1;
}

.goals-text-wrapper {
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.955);
    font-family: 'Ubuntu', sans-serif;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

@media only screen and (max-width: 420px) {
    .goals-text-wrapper {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    
        background-color: rgba(0, 0, 0, 0.955);
        font-family: 'Ubuntu', sans-serif;
        background-color: black;
        color: white;
        font-family: 'Ubuntu', sans-serif;
    }
}
